Checks: >
  clang-diagnostic-*, clang-analyzer-*,  *,  -*magic-numbers, -altera*, -llvm*, -fuchsia*, -hicpp*, -bugprone-easily-swappable-parameters, -cppcoreguidelines-pro-type-reinterpret-cast, -google-build-using-namespace, -google-global-names-in-headers, -misc-definitions-in-headers, -cppcoreguidelines-owning-memory, -cppcoreguidelines-no-malloc, -*-pro-bounds-pointer-arithmetic, -*-pro-bounds-constant-array-index, -misc-include-cleaner, -readability-function-cognitive-complexity

WarningsAsErrors: "*"
CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ClassMemberCase: camelBack
  readability-identifier-naming.ClassMemberPrefix: m
  readability-identifier-naming.ClassMethodCase: CamelCase
  readability-identifier-naming.ConstantCase: CamelCase
  readability-identifier-naming.ConstantPrefix: k
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.ConstexprVariablePrefix: k
  readability-identifier-naming.ConstexprFunctionCase: UPPER_CASE
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.LocalConstantCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-naming.NamespaceCase: CamelCase
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: _
  readability-identifier-naming.PrivateMethodCase: CamelCase
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.ProtectedMemberPrefix: _
  readability-identifier-naming.ProtectedMethodCase: CamelCase
  readability-identifier-naming.PublicMethodCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.VariableCase: camelBack
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  cppcoreguidelines-avoid-magic-numbers.IgnoreAllFloatingPointValues: true
